<!--Desktop Navbar-->
<div class="desktop-navbar">
    <div class="bg-red">
        <nav class="container bg-red">
            <ul class="list">
                <li id="home"><a href="/">Inicio</a></li>
                <li id="about"><a href="/about">Nosotros</a></li>
                <li id="services"><a href="/services">Servicios</a></li>
                <li id="contact"><a href="/contact">Contacto</a></li>
            </ul>
        </nav>
    </div>
</div>