<div class="bg-red">
    <div class="d-flex justify-content-center">
        <img class="grow" src="/img/sierra.png" alt="sierra.png">
    </div>
    <div class="grow d-flex justify-content-center align-items-center">
        <div class="line"></div>
        <p class="">¿Necesitas presupuesto?</p>
        <div class="line"></div>      
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <p class="whitetxt">Llama al: 000-0000-000</p>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <p class="minus">¡Es totalmente gratis!</p>
    </div>
</div>