<!--Presentation-->
<div class="background-container">
    <div class="d-flex justify-content-center">
        <img class="" src="/img/tablones-logo.png" alt="tablon-logo">
    </div>
    <div class="d-flex justify-content-center">
        <span class="title">El Tablón</span>
    </div>
    <div class="d-flex justify-content-center">
        <p class="slogan">Expertos en Madera</p>
    </div>
</div>