<!--Responsive Navbar-->

<div class="responsive-navbar">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-red margin">
            <div class="container">
                <ul class="margin-0 rs-list d-flex justify-content-center">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/about">Nosotros</a></li>
                    <li><a href="/services">Servicios</a></li>
                    <li><a href="/contact">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-red">
        <div class="container d-flex justify-content-center">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="color-white bi bi-list" style="font-size: 30px;"></span>
          </button>
        </div>
    </nav>
</div>