<!--Content-->

<div class="container main-content">
    <!--welcome-message-->
    <div>
        <div class="d-flex justify-content-center">
            <p class="welcome h1 color-red font-Acme">Bienvenidos a El Tablón</p>
        </div>
        <div class="d-flex justify-content-center text-center">
            <p class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo temporibus deserunt magnam laboriosam asperiores vel, quam eaque dolorem distinctio. Pariatur consequatur sint nam quisquam repellendus aut quo odio at rerum.</p>
        </div>
    </div>

    <!--service-message-->
    <div class="mt-5 service-message">
        <div class="d-flex justify-content-center">
            <p class="welcome h3 color-brown font-Acme">Nuestro servicio incluye</p>
        </div>
        <div class="d-flex justify-content-center text-center">
            <p class="paragraph"><span class="bi bi-patch-check"></span>Carpinteria para exteriores e interiores.</p>
            <p class="paragraph"><span class="bi bi-patch-check"></span>Muebles hechos a mano</p>
        </div>
        <div class="d-flex justify-content-center align-items-center text-center">
            <p class="paragraph"><span class="bi bi-patch-check"></span>Renovación Total</p>
            <p class="paragraph"><span class="bi bi-patch-check"></span>Mantenimiento de propiedades</p>
        </div>
        <div class="d-flex justify-content-center text-center">
            <p class="paragraph"><span class="bi bi-patch-check"></span>Trabajos a la medida y mucho más</p>
        </div>
    </div>
</div>

<!--Slideshow-->
<div class="slideshow d-flex justify-content-center">
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="/img/slideshow/hammer.jpg" class="d-block w-100" alt="martillo">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="description">Calidad de nuestra madera</h5>
                <p class="description">Los productos fabricados en El Tablón, estan hechos de una madera importada de alta calidad. Todo esto para que nuestros productos sean siempre de la mejor calidad posible</p>
            </div>        
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="/img/slideshow/taladro.jpg" class="d-block w-100" alt="taladro">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="description">Mano de obra cualificada</h5>
                <p class="description">En El Tablón poseemos los carpinteros mejor cualificados de la región. Que utilizan herramientas profesionales y adecuadas para cada trabajo</p>
            </div>  
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="/img/slideshow/zonadetrabajo.jpg" class="d-block w-100" alt="zonadetrabajo">
            <div class="carousel-caption d-none d-md-block">
                <p class="description">Nuestras fabricas están 100% aseguradas y preparadas para evitar cualquier tipo de accidente. Es por ello que nuestros trabajadores tienen la mejor calidad de productos de madera</p>
                <h5 class="description">Zona de fabricación</h5>
            </div>  
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

<!--Content END-->