<div class="container">
    <div class="mb-5">
        <div class="mt-5 d-flex justify-content-center">
            <h1 class="color-red font-Acme">Servicios</h1>
        </div>
        <div class="d-flex justify-content-center text-center">
            <p class="paragraph">En <b class="color-red">El Tablón</b> ofrecemos multiples servicios para nuestros <b class="color-red">clientes</b>, entre ellos tenemos:</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-4 col-sm-12">
            <div class="img-card text-center">
                <img src="/img/cards/Tala.jpg" alt="woodcut">
                <div class="mt-1">
                    <h3 class="color-white">Tala</h3>
                    <p class="color-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, iusto! Numquam dicta molestias commodi ipsa ipsum impedit tempora quia fugiat, facilis dolores? Dicta maiores odit officiis omnis perspiciatis, praesentium doloribus.</p>
                    <button>COMPRAR</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="img-card text-center">
                <img src="/img/cards/Producto.jpg" alt="woodcut">
                <div class="mt-1">
                    <h3 class="color-white">Productos</h3>
                    <p class="color-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio minus non obcaecati fuga autem assumenda consequatur, architecto beatae veritatis dolor aspernatur, ab praesentium laborum et maxime dolorum magni cumque sunt!</p>
                    <button>COMPRAR</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="img-card text-center">
                <img src="/img/cards/Construccion.jpg" alt="woodcut">
                <div class="mt-1">
                    <h3 class="color-white">Construcción</h3>
                    <p class="color-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio minus non obcaecati fuga autem assumenda consequatur, architecto beatae veritatis dolor aspernatur, ab praesentium laborum et maxime dolorum magni cumque sunt!</p>
                    <button>COMPRAR</button>
                </div>
            </div>
        </div>
    </div>
</div>