/*----main-content----*/

.welcome {
    letter-spacing: 2px;
}

.main-content {
    margin-top: 10vh;
}

.color-white {
    color: white;
}

.color-red {
    color: rgb(166, 43, 43);
}

.color-brown {
    color: rgb(53, 22, 0);
}

.font-Acme {
    font-family: Acme;
}

.paragraph {
    width: 75%;
    font-size: 1.5rem;
    transition: background-color 0.2s, color 0.5s;
}

.bi {
    margin-right: 5px;
}

.service-message .paragraph:hover {
    background-color: brown;
    color: white;
    cursor: grab;
}

/*----Contact----*/

.carpintero-img {
    background-image: url('/img/content/carpintero.jpg');
    background-size: cover;
}

.image-div{
    height: 100vh;
}

.divition-line {
    background-color: brown;
    height: 2px;
    width: 100%;
}

.feature-list ul {
    list-style: none;
}

.feature-list li {
    font-size: 25px;
}

.image-container{
    width: 100%;
    height: 110vh;
}

.tala-img {
    background-image: url('/img/content/tala-arboles.jpg');
    background-size: cover;
}

.enviroment {
    color: #ADE28A;
}

.font-sz-26 {
    font-size: 26px;
}

/*----Services----*/

.img-card {
    width: 100%;
    height: 100%;
    min-height: 30vh;
    background-color: rgb(165, 42, 42, 0.95);
    transition: transform 0.5s;
}

.img-card:hover {
    transform: scale(1.1)
}

.img-card img {
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
}

.img-card button {
    width: 100%;
    color: white;
    border: rgba(255, 255, 255, 0.336) solid 1px;
    background-color: brown;
    font-size: 20px;
    transition: color 0.5s, background-color 0.5s;
}

.img-card button:hover {
    color: brown;
    background-color: white;
}